/* reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* common */
body {
    font-family: 'Montserrat', sans-serif;
    color: #ffffff;
}

.clearfix::after {
    content: '';
    display: table;
    clear: both;
}

.debug {
    background-color: skyblue;
    border: 2px solid blue;
    min-height: 50px;
}

.col {
    width: 230px;
}

/* header */
header {
    position: fixed;
    top: 0;
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 90px;
    background-color: #00000050;
    padding: 20px 20px 28px;
}

.logo {
    width: 70%;
}

header .col button {
    width: 90%;
    border: 1px solid #ffffff;
    padding: 15px 40px;
    border-radius: 20px;
    background-color: transparent;
    color: #ffffff;
    font-size: 10px;
}

header .col button:hover {
    transform: scale(1.1);
}


/* left-menu */
aside {
    float: left;
    display: flex;
    flex-wrap: wrap;
    height: calc(100vh - 90px);
    padding-top: 90px;
    background-color: #000000;
}

.user-box {
    align-self: flex-end;
}

/* main content */
main{
    float: right;
    height: calc(100vh - 90px);
    overflow-y: auto;
    width: calc(100% - 230px);
    padding-top: 90px;
    background-color: #141922;
}

/* footer */
footer {
    position: fixed;
    bottom: 0;
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 90px;
    background-color: #282828;
}

.player {
    width: 460px;
}